@model IEnumerable<Miniprojekt.Models.ColorOnScreen>

@{
    ViewBag.Title = "Färg i text";
    ViewBag.ColorOnScreen = 0;
}

<h2>Ange färgen:</h2>
@{
    int antal = Model.Count();
    Random randomGen = new Random();
    int colorIndex = randomGen.Next(antal);
    var Color = Model.ElementAt(colorIndex).rgb;
}
<textarea id="ColorText" rows="2" cols="40" style="background-color:@Color; color:white">
Vilken färg är detta?
</textarea>
<br />
<br />
@foreach (var item in Model)
{
    <input id="@Html.DisplayFor(modelItem => item.Name)" name="@Html.DisplayFor(modelItem => item.Name)" type="submit" value="@Html.DisplayFor(modelItem => item.Name)" />
}
<br />
<br />
<p>Poäng :</p>
<textarea id="ColorCount" rows="2" cols="10">
    @ViewBag.ColorOnScreen
</textarea>