@model IEnumerable<Miniprojekt.Models.ColorOnScreen>

@{
    ViewBag.Title = "Färg i text";
}

<h2>Ange färgen:</h2>

<textarea id="TextArea1" rows="1" cols="20" style="color:255">

Vilken färg är detta?
</textarea>
<br />
<br />
@foreach (var item in Model)
{
    <input id="@Html.DisplayFor(modelItem => item.Name)" name="@Html.DisplayFor(modelItem => item.Name)" type="submit" value="@Html.DisplayFor(modelItem => item.Name)" />
}