@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Projektet är från en skola som arbetar mycket med barn som har läs- och skrivsvårigheter och vill därför börja inrikta sig mot lärande med datorer och applikationer som hjälpmedel.</p>
