@{
    ViewBag.Title = "Kontakta";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Student Consulting<br />
    Västra Varvsgatan 18<br />
    <abbr title="Phone">P:020-360 370</abbr>
    +46 10 12 24 600
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Hans.Danielsson@studentconsulting.com">Hans.Danielsson@studentconsulting.com</a><br />
    <strong>Teknisk Support:</strong>   <a href="mailto:Robert.Nygren@studentconsulting.com">Robert.Nygren@studentconsulting.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Lars.Junered@studentconsulting.com">Lars.Junered@studentconsulting.com</a>
</address>